<%= simple_nested_form_for @question, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.input :question, wrapper: :prepend do %>
    <span class="add-on"><i class="icon-question-sign"></i></span>
    <%= f.input_field :question, class: "span6" %>
  <% end %>

  <%= f.fields_for :answers do |builder| %>
    <%= render "answer_field", :f => builder %>
  <% end %>
  <p><%= f.link_to_add t('.add_another_answer'), :answers %></p>

  <%= f.input :approved %>

  <div class="form-actions">
    <%= f.button :submit, t('.submit'), class: 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                questions_path, :class => 'btn' %>
  </div>
<% end %>
