<%= simple_nested_form_for @question, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.input :question, wrapper: :append do %>
    <%= f.input_field :question, class: "span6" %>
    <%= f.link_to_add t('.add_another_answer'), :answers, class: "btn" %>
  <% end %>

  <div id="answers">
    <%= f.fields_for :answers do |builder| %>
      <%= render "answer_field", :f => builder %>
    <% end %>
  </div>

  <% if current_user %>
    <%= f.input :approved %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, t('.submit'), class: 'btn-primary' %>
  </div>
<% end %>
